<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>onlinelibrary</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <servlet-name>CreateServlet</servlet-name>
    <servlet-class>com.javatpoint.CreateServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>CreateServlet</servlet-name>
    <url-pattern>/CreateServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>registereduserServlet</servlet-name>
    <servlet-class>com.javatpoint.registereduserServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>registereduserServlet</servlet-name>
    <url-pattern>/go</url-pattern>
  </servlet-mapping>
  
  
<!--   <servlet>
    <servlet-name>verifyLogin</servlet-name>
    <servlet-class>com.javatpoint.VerifyLogin</servlet-class>
  </servlet> -->
  
  
  <servlet>
    <servlet-name>verifyLogin1</servlet-name>
    <servlet-class>com.javatpoint.verifyLogin1</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>verifyLogin1</servlet-name>
    <url-pattern>/verifyLogin1</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>registerUser1</servlet-name>
    <servlet-class>com.javatpoint.RegisterUser1</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>registerUser1</servlet-name>
    <url-pattern>/RegisterUser1</url-pattern>
   </servlet-mapping>
  
  
  <servlet>
    <servlet-name>verifyLogin2</servlet-name>
    <servlet-class>com.javatpoint.verifyLogin2</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>verifyLogin2</servlet-name>
    <url-pattern>/VerifyLogin2</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>GetCon</servlet-name>
    <servlet-class>com.javatpoint.GetCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCon</servlet-name>
    <url-pattern>/GetCon</url-pattern>
  </servlet-mapping>




 

<!--   <servlet-mapping>
    <servlet-name>verifyLogin1</servlet-name>
    <url-pattern>/servlet/verifyLogin1</url-pattern>
  </servlet-mapping> -->


 



 <!--   <listener>
  <listener-class>com.javatpoint.MyListener</listener-class>
  </listener> -->
</web-app>